body {
    text-align: center;
    background-color: beige;
}

h1 {
    display: block;
    color:blueviolet;
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    border: 20px solid turquoise;
    margin: auto;
}

.c1 {
    display: block;
    background-color: greenyellow;
    color:magenta;
    width: 100px;
    height: 20px;
    border: 20px solid pink;
    margin: auto;
}

.imgn {
    margin: auto;
    color:black;
    background-color: cornflowerblue;
    width: 500px;
    height: 600px;
}

.c2{
    display: block;
    color:blueviolet;
    margin: auto;
}

.c3{
    margin: auto;
    color:blueviolet;
    background-color: orange;
    width: 300;
    height: 100;
}

h5 {
    display: block;
    background-color: purple;
    padding: 30px;
    border: 5px solid red;
    margin: 10px;

}

button {
    color:aliceblue;
    background-color: black;
    padding: 30px;
    border: 5px solid violet;
    margin: 10px;
}